* {
    margin: 0;
    padding: 0;
}

body {
    /* background: linear-gradient(135deg, yellow 0%, blue 100%); */
    animation: gradient 1s linear infinite;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
}

@keyframes gradient {
    0% {
        background: linear-gradient(135deg, blue 0%, yellow 100%);
    }

    12.5% {
        background: linear-gradient(135deg, blue 12.5%, yellow 100%);
    }

    25% {
        background: linear-gradient(135deg, yellow 0%, blue 25%, yellow 100%);
    }

    37.5% {
        background: linear-gradient(135deg, yellow 0%, blue 37.5%, yellow 100%);
    }

    50% {
        background: linear-gradient(135deg, yellow 0%, blue 50%, yellow 100%);
    }

    67.5% {
        background: linear-gradient(135deg, yellow 0%, blue 67.5%, yellow 100%);
    }

    75% {
        background: linear-gradient(135deg, yellow 0%, blue 75%, yellow 100%);
    }

    87.5% {
        background: linear-gradient(135deg, yellow 0%, blue 87,5%, yellow 100%);
    }

    100% {
        background: linear-gradient(135deg, yellow 0%, blue 100%);
    }
}

@keyframes anim {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes reanim {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

main {
    display: grid;
    grid-template-columns: 3;
    /* margin-top: 20px; */
}

.python {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
    margin-top: 250px;
    animation: anim 1.5s linear infinite;
}

.main {
    grid-column-start: 2;
    grid-column-end: 3;
    
}

.java {
    grid-column-start: 3;
    grid-column-end: 4;
    margin: auto;
    margin-top: 250px;
    animation: reanim 1.5s linear infinite;
}

.len {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
    margin: auto;
    padding: 20px;
    background: linear-gradient(135deg, black 0%, dodgerblue 100%);
}

nav {
    display: flex;
    gap: 15px;
}

.avatar-logo {
    /* margin: auto; */
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.hero-container {
    padding: 50px;
    background: linear-gradient(135deg, black 0%, dodgerblue 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    margin-top: 70px;
}

.hero-container h1, .hero-container p {
    color: white;
    text-shadow: rgba(255, 255, 255, 0.65) 5px 5px 5px;
}

.avatar, .logo {
    color: white;
}

nav a {
    color: white;
    transition: all 0.25s linear;
}

nav a:hover {
    border-bottom: 2px solid dodgerblue;
    color: dodgerblue;
}

.avatar {
    background: linear-gradient(135deg, #160c9a 0%, dodgerblue 100%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    /* line-height: 15px; */
    transition: all 0.5s linear;
}

.avatar:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 5px 5px;
    transform: scale(1.25);
}

.card {
    width: 1000px;
    margin: auto;
    padding: 40px;
    display: flex;
    gap: 30px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.35);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}

.card img {
    width: 100px;
    height: 150px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.35) 5px 5px 10px 10px;
}

.haqida {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
    justify-content: center;
}

.contact {
    width: 1000px;
    background: linear-gradient(135deg, black 0%, dodgerblue 100%);
    padding: 30px 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}

.contact-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-desc h1, .contact-desc p {
    color: white;
    text-shadow: rgb(255, 255, 255) 5px 5px 5px;
}

.contact-media {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 20px;
}

.contact-media a {
    width: 20px;
    height: 20px;
    color: white;
    /* padding: 10px; */
    /* background-color: gray; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-media img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.1s linear;
}

.youtube {
    border-radius: 0px;
    height: 8px;
}

.contact-media img:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 5px 5px;
    transform: translateY(-5px);
}

footer {
    margin-top: 20px;
    padding: 50px;
    background: linear-gradient(135deg, black 0%, dodgerblue 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: white;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
}

a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}