* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.75;
    backdrop-filter: blur(10px);
}

@keyframes gradient {
    0% {
        background: linear-gradient(135deg, orange 0%, yellow 100%);
    }

    12.5% {
        background: linear-gradient(135deg, orange 12.5%, yellow 100%);
    }

    25% {
        background: linear-gradient(135deg, yellow 0%, orange 25%, yellow 100%);
    }

    37.5% {
        background: linear-gradient(135deg, yellow 0%, orange 37.5%, yellow 100%);
    }

    50% {
        background: linear-gradient(135deg, yellow 0%, orange 50%, yellow 100%);
    }

    67.5% {
        background: linear-gradient(135deg, yellow 0%, orange 67.5%, yellow 100%);
    }

    75% {
        background: linear-gradient(135deg, yellow 0%, orange 75%, yellow 100%);
    }

    87.5% {
        background: linear-gradient(135deg, yellow 0%, orange 87,5%, yellow 100%);
    }

    100% {
        background: linear-gradient(135deg, yellow 0%, orange 100%);
    }
}

.len {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 40px 0 40px 0;
    transition: gap 0.25s linear;
}

.len img {
    width: 200px;
    height: 200px;
    transition: transform 0.25s linear;
}

.len:hover {
    gap: 50px;
}

.len img:hover {
    transform: translateY(-10px) scale(1.1);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
    margin: auto;
    padding: 20px;
    background: linear-gradient(135deg, black 0%, dodgerblue 100%);
}

nav {
    display: flex;
    gap: 15px;
}

.avatar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.hero-container {
    padding: 120px 50px 50px 50px;
    background: linear-gradient(135deg, black 0%, dodgerblue 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 80px; */
}

.hero-container h1, .hero-container p {
    color: white;
    text-shadow: rgba(255, 255, 255, 0.65) 5px 5px 5px;
}

.main-github img {
    width: 200px;
    height: 200px;
}

.main-github {
    margin: auto;
    margin-top: 40px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-github h2 {
    opacity: 0;
    transition: all 0.25s linear;
}

.main-github:hover h2 {
    opacity: 1;
    margin-top: 10px;
}

.avatar, .logo {
    color: white;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: red;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

nav a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: red;
}

.avatar {
    background: linear-gradient(135deg, #160c9a 0%, dodgerblue 100%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s linear;
}

.avatar:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 5px 5px;
    transform: scale(1.25);
}

main {
    animation: gradient 1s linear infinite;
    padding: 20px;
}

.card {
    width: 1000px;
    margin: auto;
    padding: 40px;
    display: flex;
    gap: 30px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.35);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}

.card img {
    width: 100px;
    height: 150px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.35) 5px 5px 10px 10px;
}

.haqida {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.contact {
    width: 1000px;
    background: linear-gradient(135deg, black 0%, dodgerblue 100%);
    padding: 30px 20px 35px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}

.contact-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-desc h2, .contact-desc p {
    color: white;
    text-shadow: rgb(255, 255, 255) 5px 5px 5px;
}

.contact-media {
    display: flex;
    gap: 35px;
}

.contact-media a {
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-media img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.1s linear;
}

.contact-media img:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 5px 5px;
    transform: translateY(-5px);
}

footer {
    padding: 50px;
    background: linear-gradient(135deg, black 0%, dodgerblue 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: white;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
}

a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}